@model DigiTrade.Invoicing.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Battery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modify</a> |
    <a asp-action="Index">Back to List</a>
</div>
